@import url('https://fonts.googleapis.com/css?family=Public+Sans&display=swap');

h3{
    font-family: 'Public Sans', sans-serif !important;
}

.boxes {
    border: 2px solid;
    border-radius: 50%;
}

.grandparent-box {
    background-color: #10b135;
    width: 20rem;
    height: 20rem;
   
}

.parent-box {
    background-color: #d7e451f5;
    width: 15rem;
    height: 15rem;
    margin: 2.4rem;
}

.child-box {
    background-color: #ffeb3b;
    width: 10rem;
    height: 10rem;
    margin: 2.3rem;
}
.democlass {
    color: red;
  }
